In [1]:
import pandas as pd

chemin_fichier_2019 = r"C:\Users\gaeta\Documents\Ynov\master1\open_data\3_df1_df2_impot_par_vente\input\df_agg2019.csv"
chemin_fichier_2020 = r"C:\Users\gaeta\Documents\Ynov\master1\open_data\3_df1_df2_impot_par_vente\input\df_agg2020.csv"
chemin_fichier_2021 = r"C:\Users\gaeta\Documents\Ynov\master1\open_data\3_df1_df2_impot_par_vente\input\df_agg2021.csv"
chemin_fichier_2022 = r"C:\Users\gaeta\Documents\Ynov\master1\open_data\3_df1_df2_impot_par_vente\input\df_agg2022.csv"
chemin_fichier_2023 = r"C:\Users\gaeta\Documents\Ynov\master1\open_data\3_df1_df2_impot_par_vente\input\df_agg2023.csv"

df_agg2019 = pd.read_csv(chemin_fichier_2019)
df_agg2020 = pd.read_csv(chemin_fichier_2020)
df_agg2021 = pd.read_csv(chemin_fichier_2021)
df_agg2022 = pd.read_csv(chemin_fichier_2022)
df_agg2023 = pd.read_csv(chemin_fichier_2023)

df_agg = pd.concat([df_agg2019, df_agg2020, df_agg2021, df_agg2022, df_agg2023], ignore_index=True)
df_agg = df_agg.drop(columns=['index', "Index"])
df_agg.head(3)

,date_mutation,valeur_fonciere,num_voie,type_voie,code_voie,voie,code_postal,commune,code_dep,code_com,...,surface_reel_bati,nb_piece_prin,surf_terrain,tt_surf_carez,vente,vente_etat_futur_achev,appartement,dependance,local_indus_com,maison
0,26/04/2019,810660.0,9.0,RUE,5101,LAURENT CHAFFIN,31100.0,TOULOUSE,31,555,...,114,5,0,113.76,3,0,1,1,0,0
1,05/08/2019,120000.0,8.0,AV,2000,MONTAIGNE,31830.0,PLAISANCE DU TOUCH,31,424,...,87,0,0,0.00,1,0,0,0,1,0
2,28/08/2019,395000.0,NaN,NaN,B233,LA REPUBLIQUE,31100.0,TOULOUSE,31,555,...,0,0,0,0.00,2,1,0,0,0,0

In [2]:
df_agg['date_mutation'] = pd.to_datetime(df_agg['date_mutation'])
df_agg['mois_annee'] = df_agg['date_mutation'].dt.to_period('M')
df_agg.head(3)

C:\Users\gaeta\AppData\Local\Temp\ipykernel_20604\388464754.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df_agg['date_mutation'] = pd.to_datetime(df_agg['date_mutation'])

,date_mutation,valeur_fonciere,num_voie,type_voie,code_voie,voie,code_postal,commune,code_dep,code_com,...,nb_piece_prin,surf_terrain,tt_surf_carez,vente,vente_etat_futur_achev,appartement,dependance,local_indus_com,maison,mois_annee
0,2019-04-26,810660.0,9.0,RUE,5101,LAURENT CHAFFIN,31100.0,TOULOUSE,31,555,...,5,0,113.76,3,0,1,1,0,0,2019-04
1,2019-08-05,120000.0,8.0,AV,2000,MONTAIGNE,31830.0,PLAISANCE DU TOUCH,31,424,...,0,0,0.00,1,0,0,0,1,0,2019-08
2,2019-08-28,395000.0,NaN,NaN,B233,LA REPUBLIQUE,31100.0,TOULOUSE,31,555,...,0,0,0.00,2,1,0,0,0,0,2019-08

In [3]:
chemin_fichier = r"C:\Users\gaeta\Documents\Ynov\master1\open_data\3_df1_df2_impot_par_vente\input\all_dates_pourcentage_impots_par_categorie.csv"
df_impot = pd.read_csv(chemin_fichier)

df_impot['Date'] = pd.to_datetime(df_impot['Date'])
df_impot['mois_annee'] = df_impot['Date'].dt.to_period('M')
df_impot.head(3)

,Date,Regime_droit_commun,Regime_derogatoire,Inscriptions_hypotheques,pourcentage_droit_commun,pourcentage_regime_derogatoire,pourcentage_inscriptions_hypotheques,mois_annee
0,2000-01-31,1.005365e+08,6.144986e+07,4.106875e+07,49.511936,30.262647,20.225417,2000-01
1,2000-02-29,1.503597e+08,8.081297e+07,6.705102e+07,50.418424,27.098109,22.483467,2000-02
2,2000-03-31,1.280624e+08,8.126023e+07,5.402178e+07,48.629246,30.857016,20.513738,2000-03

In [4]:
df_result = pd.merge(df_agg, df_impot, on='mois_annee', how='inner')
df_result.head(3)

,date_mutation,valeur_fonciere,num_voie,type_voie,code_voie,voie,code_postal,commune,code_dep,code_com,...,local_indus_com,maison,mois_annee,Date,Regime_droit_commun,Regime_derogatoire,Inscriptions_hypotheques,pourcentage_droit_commun,pourcentage_regime_derogatoire,pourcentage_inscriptions_hypotheques
0,2019-04-26,810660.0,9.0,RUE,5101,LAURENT CHAFFIN,31100.0,TOULOUSE,31,555,...,0,0,2019-04,2019-04-30,4.107799e+08,1.695655e+08,8.870114e+07,61.397811,25.344345,13.257844
1,2019-04-02,375000.0,18.0,RUE,1150,DES VIGNES,31780.0,CASTELGINEST,31,116,...,0,0,2019-04,2019-04-30,4.107799e+08,1.695655e+08,8.870114e+07,61.397811,25.344345,13.257844
2,2019-04-26,195000.0,63.0,AV,7772,DE SAINT EXUPERY,31400.0,TOULOUSE,31,555,...,0,0,2019-04,2019-04-30,4.107799e+08,1.695655e+08,8.870114e+07,61.397811,25.344345,13.257844

In [5]:
df_result['PE'] = df_result['valeur_fonciere']*(df_result['pourcentage_droit_commun']/100)*(4.50/100)+df_result['valeur_fonciere']*(df_result['pourcentage_regime_derogatoire']/100)*(0.66/100) +df_result['valeur_fonciere']*(df_result['pourcentage_inscriptions_hypotheques']/100)*(0.7/100)
df_result['PE'] = df_result['PE'].round().astype('int64')

df_result = df_result.drop(columns=['mois_annee', 'Date', 'Regime_droit_commun', 'Regime_derogatoire', 'Inscriptions_hypotheques','pourcentage_droit_commun', 'pourcentage_regime_derogatoire', 'pourcentage_inscriptions_hypotheques'])
df_result = df_result.sort_values(by='date_mutation', ascending=True).reset_index(drop=True)
df_result.head(15)

,date_mutation,valeur_fonciere,num_voie,type_voie,code_voie,voie,code_postal,commune,code_dep,code_com,...,nb_piece_prin,surf_terrain,tt_surf_carez,vente,vente_etat_futur_achev,appartement,dependance,local_indus_com,maison,PE
0,2019-01-02,600.0,NaN,NaN,B133,PLEICH,31160.0,MILHAS,31,342,...,0,940,0.00,2,0,0,0,0,0,14
1,2019-01-02,270000.0,NaN,AV,0815,SAINT MARTIN DE BOVILLE,31130.0,BALMA,31,44,...,0,612,0.00,1,0,0,0,0,0,6302
2,2019-01-02,139000.0,16.0,BD,7488,RIQUET,31000.0,TOULOUSE,31,555,...,3,0,53.65,1,0,1,0,0,0,3244
3,2019-01-02,197600.0,20.0,ALL,0106,GALAUP,31150.0,GRATENTOUR,31,230,...,4,0,0.00,1,0,0,0,0,1,4612
4,2019-01-02,410450.0,20.0,RUE,6925,DU PIC DE LANOUX,31500.0,TOULOUSE,31,555,...,2,0,50.63,2,0,1,1,0,0,9580
5,2019-01-02,211650.0,17.0,RUE,0500,DES GRAVES,31780.0,CASTELGINEST,31,116,...,0,278,0.00,1,0,0,0,0,0,4940
6,2019-01-02,423300.0,1.0,IMP,0596,DES LILAS,31780.0,CASTELGINEST,31,116,...,3,274,0.00,2,0,0,0,0,1,9880
7,2019-01-02,674550.0,43.0,RTE,0005,D'AGDE,31590.0,ST MARCEL PAULEL,31,501,...,12,4786,0.00,3,0,0,0,0,1,15744
8,2019-01-02,335600.0,NaN,NaN,NaN,NaN,NaN,TOULOUSE,31,555,...,0,0,0.00,2,1,0,0,0,0,7833
9,2019-01-02,458000.0,1.0,CHE,8436,DE LA TERRASSE,31500.0,TOULOUSE,31,555,...,4,0,83.71,2,0,1,1,0,0,10690
10,2019-01-02,195000.0,6.0,RUE,0285,LOUIS PASTEUR,31860.0,LABARTHE-SUR-LEZE,31,248,...,4,180,0.00,1,0,0,0,0,1,4551
11,2019-01-02,114000.0,53.0,RUE,2192,DE LA COLOMBETTE,31000.0,TOULOUSE,31,555,...,1,0,22.54,1,0,1,0,0,0,2661
12,2019-01-02,385000.0,NaN,NaN,A104,VILLA ZENITH,31840.0,SEILH,31,541,...,0,0,0.00,11,0,0,1,0,0,8986
13,2019-01-02,245000.0,97.0,RUE,8556,DES TRENTE SIX PONTS,31400.0,TOULOUSE,31,555,...,0,0,0.00,1,0,0,1,0,0,5718
14,2019-01-02,200000.0,9.0,PL,0668,DES MARRONNIERS,31700.0,BLAGNAC,31,69,...,4,0,0.00,1,0,1,0,0,0,4668

In [6]:
path = r"C:\Users\gaeta\Documents\Ynov\master1\open_data\3_df1_df2_impot_par_vente\outpout\df_all_years_with_PE.csv"
df_result.to_csv(path, index=False)