In [3]:
# pip install dask

In [4]:
import pandas as pd
import numpy as np
import dask.dataframe as dd
import os

In [5]:
# Charger le fichier CSV en utilisant Dask
df1 = dd.read_csv(r"C:\Users\gaeta\Documents\YNOV\master1\open_data\visualisation\df_ti_pe_complet.csv")

# Coordonnées de Toulouse
toulouse_lon = 1.431673
toulouse_lat = 43.596381

# Fonction pour calculer la distance entre deux points géographiques en utilisant la formule de Haversine
def haversine(lon1, lat1, lon2, lat2):
    R = 6371000  # Rayon de la Terre en mètres
    phi1 = np.radians(lat1)
    phi2 = np.radians(lat2)
    delta_phi = np.radians(lat2 - lat1)
    delta_lambda = np.radians(lon2 - lon1)

    a = np.sin(delta_phi / 2.0) ** 2 + np.cos(phi1) * np.cos(phi2) * np.sin(delta_lambda / 2.0) ** 2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    meters = R * c  # Résultat en mètres
    return meters

# Appliquer la fonction de calcul de distance de manière vectorisée avec Dask
df1['distance à Toulouse'] = df1.map_partitions(lambda df: haversine(
    toulouse_lon, toulouse_lat, df['longitude'], df['latitude']
), meta=('float64'))

C:\Users\gaeta\anaconda3\Lib\site-packages\dask\dataframe\core.py:7067: FutureWarning: Meta is not valid, `map_partitions` and `map_overlap` expects output to be a pandas object. Try passing a pandas object as meta or a dict or tuple representing the (name, dtype) of the columns. In the future the meta you passed will not work.
  warnings.warn(

In [6]:
# Calculer le résultat
df1 = df1.compute()

In [7]:
df1.head()

,date_mutation,valeur_fonciere,code_voie,code_postal,code_commune,no_plan,nb_lot,surface_reel_bati,nb_piece_prin,surf_terrain,...,dependance,local_indus_com,maison,PE,taux_interet,nom_commune_postal,latitude,longitude,nom_commune_complet,distance à Toulouse
0,2023-11-29,553500,0811,31770,149,62,9,67,3,0,...,1,0,0,17008.971893,4.0917,COLOMIERS,43.611552,1.327002,Colomiers,8595.140768
1,2023-11-15,286110,B058,31400,555,41,0,0,0,9537,...,0,0,0,8792.117341,4.0917,TOULOUSE,43.596381,1.431673,Toulouse,0.048145
2,2023-11-15,406414,B055,31590,573,2824,0,72,3,2217,...,0,0,1,12489.041198,4.0917,VERFEIL,43.663774,1.677386,Verfeil,21148.143114
3,2023-11-15,1,B053,31790,490,26,0,0,0,1120,...,0,0,0,0.030730,4.0917,ST JORY,43.739344,1.356255,Saint-Jory,17014.863451
4,2023-11-22,1,1580,31600,395,324,0,0,0,25,...,0,0,0,0.030730,4.0917,MURET,43.449108,1.307847,Muret,19179.433277

In [8]:
df1.dtypes

date_mutation              object
valeur_fonciere             int64
code_voie                  object
code_postal                 int64
code_commune                int64
no_plan                     int64
nb_lot                      int64
surface_reel_bati           int64
nb_piece_prin               int64
surf_terrain                int64
tt_surf_carez               int64
vente                       int64
vente_etat_futur_achev      int64
appartement                 int64
dependance                  int64
local_indus_com             int64
maison                      int64
PE                        float64
taux_interet              float64
nom_commune_postal         object
latitude                  float64
longitude                 float64
nom_commune_complet        object
distance à Toulouse       float64
dtype: object

In [9]:
df1['distance à Toulouse'] = df1['distance à Toulouse'].fillna(0).astype('int')
df1.dtypes

date_mutation              object
valeur_fonciere             int64
code_voie                  object
code_postal                 int64
code_commune                int64
no_plan                     int64
nb_lot                      int64
surface_reel_bati           int64
nb_piece_prin               int64
surf_terrain                int64
tt_surf_carez               int64
vente                       int64
vente_etat_futur_achev      int64
appartement                 int64
dependance                  int64
local_indus_com             int64
maison                      int64
PE                        float64
taux_interet              float64
nom_commune_postal         object
latitude                  float64
longitude                 float64
nom_commune_complet        object
distance à Toulouse         int32
dtype: object

In [12]:
df1.to_csv(r"C:\Users\gaeta\Documents\YNOV\master1\open_data\visualisation\df_ti_pe_complet_calculmeter.csv", index=False)