In [3]:
import pandas as pd
import os

df = pd.read_csv(r"C:\Users\gaeta\Documents\YNOV\master1\open_data\visualisation\df_ti_pe_complet_calculmeter.csv", sep=',')
df = df.reset_index(drop=True)

print(df.head(15))

print(df.dtypes)

   date_mutation  valeur_fonciere code_voie  code_postal  code_commune  \
0     2023-11-29           553500      0811        31770           149
1     2023-11-15           286110      B058        31400           555
2     2023-11-15           406414      B055        31590           573
3     2023-11-15                1      B053        31790           490
4     2023-11-22                1      1580        31600           395
5     2023-11-29           424000      0802        31770           149
6     2023-11-15          1954000      B063        31300           555
7     2023-11-23           330000      2975        31200           555
8     2023-11-27           312480      0693        31120           433
9     2023-11-15            65500      B032        31340            73
10    2023-11-15           520000      B045        31520           446
11    2023-11-15             1200      B017        31360            50
12    2023-11-15             1000      B014        31160           461
13    2023-11-15          1451335      B013        31480           209
14    2023-11-16           143000      8495        31300           555

    no_plan  nb_lot  surface_reel_bati  nb_piece_prin  surf_terrain  ...  \
0        62       9                 67              3             0  ...
1        41       0                  0              0          9537  ...
2      2824       0                 72              3          2217  ...
3        26       0                  0              0          1120  ...
4       324       0                  0              0            25  ...
5        32       7                 63              3             0  ...
6        91       3                  0              0         65235  ...
7       346       2                 49              2             0  ...
8        60       2                 51              2             0  ...
9       121       0                  0              0          1481  ...
10      115       0                129              6           486  ...
11      103       0                  0              0           600  ...
12      231       0                  0              0          2830  ...
13     1294       0                240              8          4404  ...
14       87       1                 67              2             0  ...

    dependance  local_indus_com  maison            PE  taux_interet  \
0            1                0       0  17008.971893        4.0917
1            0                0       0   8792.117341        4.0917
2            0                0       1  12489.041198        4.0917
3            0                0       0      0.030730        4.0917
4            0                0       0      0.030730        4.0917
5            1                0       0  13029.456337        4.0917
6            0                0       0  60046.126611        4.0917
7            1                0       0  10140.850451        4.0917
8            1                0       0   9602.463482        4.0917
9            0                0       0   2012.805165        4.0917
10           0                0       1  15979.521923        4.0917
11           0                0       0     36.875820        4.0917
12           0                0       0     30.729850        4.0917
13           1                0       1  44599.306635        4.0917
14           0                0       0   4394.368529        4.0917

    nom_commune_postal   latitude  longitude    nom_commune_complet  \
0            COLOMIERS  43.611552   1.327002              Colomiers
1             TOULOUSE  43.596381   1.431673               Toulouse
2              VERFEIL  43.663774   1.677386                Verfeil
3              ST JORY  43.739344   1.356255             Saint-Jory
4                MURET  43.449108   1.307847                  Muret
5            COLOMIERS  43.611552   1.327002              Colomiers
6             TOULOUSE  43.596381   1.431673               Toulouse
7             TOULOUSE  43.596381   1.431673               Toulouse
8   PORTET SUR GARONNE  43.529395   1.402520     Portet-sur-Garonne
9            BONDIGOUX  43.842682   1.543482              Bondigoux
10  RAMONVILLE ST AGNE  43.544184   1.477824  Ramonville-Saint-Agne
11          BEAUCHALOT  43.114456   0.869747             Beauchalot
12              ROUEDE  43.056451   0.882776                RouÃ¨de
13               GARAC  43.689286   1.091685                  Garac
14            TOULOUSE  43.596381   1.431673               Toulouse

   distance à Toulouse
0                 8595
1                    0
2                21148
3                17014
4                19179
5                 8595
6                    0
7                    0
8                 7810
9                28823
10                6892
11               70254
12               74671
13               29243
14                   0

[15 rows x 24 columns]
date_mutation              object
valeur_fonciere             int64
code_voie                  object
code_postal                 int64
code_commune                int64
no_plan                     int64
nb_lot                      int64
surface_reel_bati           int64
nb_piece_prin               int64
surf_terrain                int64
tt_surf_carez               int64
vente                       int64
vente_etat_futur_achev      int64
appartement                 int64
dependance                  int64
local_indus_com             int64
maison                      int64
PE                        float64
taux_interet              float64
nom_commune_postal         object
latitude                  float64
longitude                 float64
nom_commune_complet        object
distance à Toulouse         int64
dtype: object

In [4]:
df_preformatted = df

# PE= float -> transformation en int
# df_preformatted['PE'] = df_preformatted['PE'].str.replace(',', '.').astype('float').fillna(0).astype('int')
df_preformatted['PE'] = df_preformatted['PE'].fillna(0).astype('int')

# tt_surf_carrez = float -> transformation en int
# df_preformatted['tt_surf_carez'] = df_preformatted['tt_surf_carez'].fillna(0).astype('int')

# val_foncière = supprimer les valeurs négatives
# df_preformatted = df_preformatted.loc[df_preformatted['valeur_fonciere'] > 0]

# df_preformatted['year_date_mutation'] = pd.to_datetime(df_preformatted['date_mutation'])
# df_preformatted['year_date_mutation'] = df_preformatted['year_date_mutation'].dt.year

##### ajout evolution PE en % SUR 5 ANS

In [5]:
df_years_PE = df[['date_mutation', 'code_commune', 'PE']]

df_years_PE['year_date_mutation'] = pd.to_datetime(df_years_PE['date_mutation'])
df_years_PE['year_date_mutation'] = df_years_PE['year_date_mutation'].dt.year
df_years_PE = df_years_PE[['year_date_mutation', 'code_commune', 'PE']]
print(df_years_PE)

sum_pe = df_years_PE.groupby(['year_date_mutation', 'code_commune'])['PE'].sum().reset_index()
sum_pe = sum_pe.rename(columns={'PE': 'sum_pe_by_commune_year'})
print(sum_pe)

df_2019 = sum_pe[sum_pe['year_date_mutation'] == 2019][['code_commune', 'sum_pe_by_commune_year']]
df_2023 = sum_pe[sum_pe['year_date_mutation'] == 2023][['code_commune', 'sum_pe_by_commune_year']]

df_2019 = df_2019.rename(columns={'sum_pe_by_commune_year': 'sum_2019'})
df_2023 = df_2023.rename(columns={'sum_pe_by_commune_year': 'sum_2023'})

merged_df = pd.merge(df_2019, df_2023, on='code_commune', how='inner')
merged_df['%evolution_PE_2019_2023'] = ((merged_df['sum_2023'] - merged_df['sum_2019']) / merged_df['sum_2019']) * 100
merged_df = merged_df[['code_commune', '%evolution_PE_2019_2023']]
# merged_df['%evolution_PE_2019_2023'] =merged_df['%evolution_PE_2019_2023'].astype('float')
# merged_df['%evolution_PE_2019_2023'] =merged_df['%evolution_PE_2019_2023'].replace([float('inf'), -float('inf')], 0)
# merged_df['%evolution_PE_2019_2023'] =merged_df['%evolution_PE_2019_2023'].astype('float').fillna(0).astype('int64')
# merged_df['%evolution_PE_2019_2023']=merged_df['%evolution_PE_2019_2023'].round().replace([float('inf'), -float('inf')], 0).astype('int64')
print(merged_df.dtypes)



df_preformatted = pd.merge(df_preformatted, merged_df, on='code_commune', how='left')
df_preformatted['%evolution_PE_2019_2023'] = df_preformatted['%evolution_PE_2019_2023'].fillna(0).round().replace([float('inf'), -float('inf')], 0).astype('int64')
print(df_preformatted)

        year_date_mutation  code_commune     PE
0                     2023           149  17008
1                     2023           555   8792
2                     2023           573  12489
3                     2023           490      0
4                     2023           395      0
...                    ...           ...    ...
169043                2019           555   5485
169044                2019           555  16030
169045                2019           555   1200
169046                2019           555   2075
169047                2019           555  17074

[169048 rows x 3 columns]
      year_date_mutation  code_commune  sum_pe_by_commune_year
0                   2019             1                  133763
1                   2019             2                   99602
2                   2019             3                  299799
3                   2019             4                  844873
4                   2019             5                  110674
...                  ...           ...                     ...
2791                2023           588                 2182708
2792                2023           589                  212800
2793                2023           591                   48425
2794                2023           592                  739692
2795                2023           593                  448335

[2796 rows x 3 columns]
code_commune                 int64
%evolution_PE_2019_2023    float64
dtype: object
       date_mutation  valeur_fonciere code_voie  code_postal  code_commune  \
0         2023-11-29           553500      0811        31770           149
1         2023-11-15           286110      B058        31400           555
2         2023-11-15           406414      B055        31590           573
3         2023-11-15                1      B053        31790           490
4         2023-11-22                1      1580        31600           395
...              ...              ...       ...          ...           ...
169043    2019-06-06           185000      7288        31400           555
169044    2019-06-19           540600      6160        31300           555
169045    2019-06-14            40500      8666        31100           555
169046    2019-06-14            70000      8660        31400           555
169047    2019-06-19           575800      6196        31400           555

        no_plan  nb_lot  surface_reel_bati  nb_piece_prin  surf_terrain  ...  \
0            62       9                 67              3             0  ...
1            41       0                  0              0          9537  ...
2          2824       0                 72              3          2217  ...
3            26       0                  0              0          1120  ...
4           324       0                  0              0            25  ...
...         ...     ...                ...            ...           ...  ...
169043       72       1                  0              0             0  ...
169044      340       0                190              6           307  ...
169045      101       1                 16              1             0  ...
169046      514       2                 36              0             0  ...
169047       62       2                  0              0             0  ...

        local_indus_com  maison     PE  taux_interet  nom_commune_postal  \
0                     0       0  17008        4.0917           COLOMIERS
1                     0       0   8792        4.0917            TOULOUSE
2                     0       1  12489        4.0917             VERFEIL
3                     0       0      0        4.0917             ST JORY
4                     0       0      0        4.0917               MURET
...                 ...     ...    ...           ...                 ...
169043                0       0   5485        1.9996            TOULOUSE
169044                0       1  16030        1.9996            TOULOUSE
169045                0       0   1200        1.9996            TOULOUSE
169046                1       0   2075        1.9996            TOULOUSE
169047                0       0  17074        1.9996            TOULOUSE

         latitude  longitude  nom_commune_complet  distance à Toulouse  \
0       43.611552   1.327002            Colomiers                 8595
1       43.596381   1.431673             Toulouse                    0
2       43.663774   1.677386              Verfeil                21148
3       43.739344   1.356255           Saint-Jory                17014
4       43.449108   1.307847                Muret                19179
...           ...        ...                  ...                  ...
169043  43.596381   1.431673             Toulouse                    0
169044  43.596381   1.431673             Toulouse                    0
169045  43.596381   1.431673             Toulouse                    0
169046  43.596381   1.431673             Toulouse                    0
169047  43.596381   1.431673             Toulouse                    0

       %evolution_PE_2019_2023
0                          -68
1                           51
2                          110
3                            3
4                          -67
...                        ...
169043                      51
169044                      51
169045                      51
169046                      51
169047                      51

[169048 rows x 25 columns]

C:\Users\gaeta\AppData\Local\Temp\ipykernel_12164\3647388987.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_years_PE['year_date_mutation'] = pd.to_datetime(df_years_PE['date_mutation'])
C:\Users\gaeta\AppData\Local\Temp\ipykernel_12164\3647388987.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_years_PE['year_date_mutation'] = df_years_PE['year_date_mutation'].dt.year

#### colonne qui indique les types de maison appartement dependance

In [6]:
def create_combined_property_type(row):
    categories = []
    if row['appartement']:
        categories.append('appartement')
    if row['maison']:
        categories.append('maison')
    if row['local_indus_com']:
        categories.append('localindus')
    if row['dependance']:
        categories.append('dependance')
    return ' '.join(categories)


df_preformatted['property_type_category'] = df_preformatted.apply(create_combined_property_type, axis=1)

df_preformatted['property_type_category'].unique()

# TRANSFORMER LE PROPERTY TYPE CATEGORIES POUR FACILITER LA VISU SUR LES COURBES
dummies = pd.get_dummies(df_preformatted['property_type_category'], prefix='property_type', dtype=int)

# Concaténer les colonnes dummies avec le DataFrame original
df_preformatted = pd.concat([df_preformatted, dummies], axis=1)

#### colonne qui calcul les tranches de valeurs foncieres

In [7]:
def create_combined_val_category(row):
    val_categories = ""
    if row['valeur_fonciere'] <= 4999:
        val_categories = "0 - 4 999"
    elif row['valeur_fonciere'] >= 5000 and row['valeur_fonciere'] <= 49999:
        val_categories = "5 000 - 49 999"
    elif row['valeur_fonciere'] >= 50000 and row['valeur_fonciere'] <= 99999:
        val_categories = "50 000 - 100 000"
    elif row['valeur_fonciere'] >= 100000 and row['valeur_fonciere'] <= 199999:
        val_categories = "100 000 - 199 999"
    elif row['valeur_fonciere'] >= 200000 and row['valeur_fonciere'] <= 299999:
        val_categories = "200 000 - 299 999"
    elif row['valeur_fonciere'] >= 300000 and row['valeur_fonciere'] <= 399999:
        val_categories = "300 000 - 399 999"
    elif row['valeur_fonciere'] >= 400000 and row['valeur_fonciere'] <= 499999:
        val_categories = "400 000 - 499 999"
    elif row['valeur_fonciere'] >= 500000 and row['valeur_fonciere'] <= 749999:
        val_categories = "500 000 - 749 999"
    elif row['valeur_fonciere'] >= 750000 and row['valeur_fonciere'] <= 999999:
        val_categories = "750 000 - 999 999"
    elif row['valeur_fonciere'] >= 1000000 and row['valeur_fonciere'] <= 4999999:
        val_categories = "1 000 000 - 4 999 999"
    elif row['valeur_fonciere'] >= 5000000:
        val_categories = "5 000 000 et +"
    else:
        val_categories = "valeur non défini"
    return val_categories


df_preformatted['val_fonciere_category'] = df_preformatted.apply(create_combined_val_category, axis=1)

df_preformatted['val_fonciere_category'].unique()

array(['500 000 - 749 999', '200 000 - 299 999', '400 000 - 499 999',
       '0 - 4 999', '1 000 000 - 4 999 999', '300 000 - 399 999',
       '50 000 - 100 000', '100 000 - 199 999', '750 000 - 999 999',
       '5 000 - 49 999', '5 000 000 et +'], dtype=object)

In [8]:
df_preformatted.head(20)

,date_mutation,valeur_fonciere,code_voie,code_postal,code_commune,no_plan,nb_lot,surface_reel_bati,nb_piece_prin,surf_terrain,...,property_type_appartement maison localindus,property_type_appartement maison localindus dependance,property_type_dependance,property_type_localindus,property_type_localindus dependance,property_type_maison,property_type_maison dependance,property_type_maison localindus,property_type_maison localindus dependance,val_fonciere_category
0,2023-11-29,553500,0811,31770,149,62,9,67,3,0,...,0,0,0,0,0,0,0,0,0,500 000 - 749 999
1,2023-11-15,286110,B058,31400,555,41,0,0,0,9537,...,0,0,0,0,0,0,0,0,0,200 000 - 299 999
2,2023-11-15,406414,B055,31590,573,2824,0,72,3,2217,...,0,0,0,0,0,1,0,0,0,400 000 - 499 999
3,2023-11-15,1,B053,31790,490,26,0,0,0,1120,...,0,0,0,0,0,0,0,0,0,0 - 4 999
4,2023-11-22,1,1580,31600,395,324,0,0,0,25,...,0,0,0,0,0,0,0,0,0,0 - 4 999
5,2023-11-29,424000,0802,31770,149,32,7,63,3,0,...,0,0,0,0,0,0,0,0,0,400 000 - 499 999
6,2023-11-15,1954000,B063,31300,555,91,3,0,0,65235,...,0,0,0,0,0,0,0,0,0,1 000 000 - 4 999 999
7,2023-11-23,330000,2975,31200,555,346,2,49,2,0,...,0,0,0,0,0,0,0,0,0,300 000 - 399 999
8,2023-11-27,312480,0693,31120,433,60,2,51,2,0,...,0,0,0,0,0,0,0,0,0,300 000 - 399 999
9,2023-11-15,65500,B032,31340,73,121,0,0,0,1481,...,0,0,0,0,0,0,0,0,0,50 000 - 100 000
10,2023-11-15,520000,B045,31520,446,115,0,129,6,486,...,0,0,0,0,0,1,0,0,0,500 000 - 749 999
11,2023-11-15,1200,B017,31360,50,103,0,0,0,600,...,0,0,0,0,0,0,0,0,0,0 - 4 999
12,2023-11-15,1000,B014,31160,461,231,0,0,0,2830,...,0,0,0,0,0,0,0,0,0,0 - 4 999
13,2023-11-15,1451335,B013,31480,209,1294,0,240,8,4404,...,0,0,0,0,0,0,1,0,0,1 000 000 - 4 999 999
14,2023-11-16,143000,8495,31300,555,87,1,67,2,0,...,0,0,0,0,0,0,0,0,0,100 000 - 199 999
15,2023-11-15,939200,B011,31380,388,11,0,128,4,2253,...,0,0,0,0,0,0,1,0,0,750 000 - 999 999
16,2023-11-15,7500,B010,31800,487,21,0,0,0,7325,...,0,0,0,0,0,0,0,0,0,5 000 - 49 999
17,2023-11-21,1050000,0140,31120,458,168,0,135,3,2052,...,0,0,0,0,0,0,0,0,1,1 000 000 - 4 999 999
18,2023-11-21,137789,0160,31140,467,120,0,70,0,203,...,0,0,0,1,0,0,0,0,0,100 000 - 199 999
19,2023-11-15,644400,B029,31600,165,54,3,0,0,0,...,0,0,0,0,0,0,0,0,0,500 000 - 749 999

### ajout de la population par commune et par an

#### df population 1876 2021

In [10]:
file_path_1876_2021 = r"C:\Users\gaeta\Documents\YNOV\master1\open_data\visualisation\population\base-pop-historiques-1876-2021 1.xlsx"
df_1876_2021 = pd.read_excel(file_path_1876_2021, header=5)

df_1876_2021 = df_1876_2021[['CODGEO', 'DEP', 'PMUN2021', 'PMUN2020', 'PMUN2019', 'PMUN2018', 'PMUN2017', 'PMUN2012', 'PTOT1921']]
df_1876_2021.dtypes

CODGEO       object
DEP          object
PMUN2021      int64
PMUN2020      int64
PMUN2019      int64
PMUN2018      int64
PMUN2017      int64
PMUN2012      int64
PTOT1921    float64
dtype: object

In [11]:
df_1876_2021 = df_1876_2021[df_1876_2021['DEP'] == '31']
df_1876_2021.head()

,CODGEO,DEP,PMUN2021,PMUN2020,PMUN2019,PMUN2018,PMUN2017,PMUN2012,PTOT1921
11251,31001,31,119,120,122,121,118,114,285.0
11252,31002,31,239,242,241,243,245,243,610.0
11253,31003,31,1280,1271,1272,1274,1275,1135,93.0
11254,31004,31,2764,2721,2679,2663,2655,2440,437.0
11255,31005,31,287,291,293,296,305,316,701.0

In [12]:
# df_1876_2021 = df_1876_2021[~df_1876_2021['CODGEO'].isin(['2A001', '2A004', '2A006', '2A008', '2A011'])]

df_1876_2021 = df_1876_2021.drop(columns=['DEP'])
df_1876_2021['CODGEO'] = df_1876_2021['CODGEO'].astype(str).str[2:].fillna(0).astype('int64')
df_1876_2021['PTOT1921'] = df_1876_2021['PTOT1921'].fillna(0).astype('int64')

df_1876_2021 = df_1876_2021.rename(columns={'CODGEO': 'code_commune',
                                           'PMUN2021': 'population_2021',
                                           'PMUN2020': 'population_2020',
                                           'PMUN2019': 'population_2019',
                                           'PMUN2018':'population_2018',
                                           'PMUN2017':'population_2017',
                                           'PMUN2012':'population_2012',
                                           'PTOT1921':'population_1921'})

df_1876_2021.reset_index(drop=True, inplace=True)
df_1876_2021.dtypes

code_commune       int64
population_2021    int64
population_2020    int64
population_2019    int64
population_2018    int64
population_2017    int64
population_2012    int64
population_1921    int64
dtype: object

In [13]:
df_1876_2021.head()

,code_commune,population_2021,population_2020,population_2019,population_2018,population_2017,population_2012,population_1921
0,1,119,120,122,121,118,114,285
1,2,239,242,241,243,245,243,610
2,3,1280,1271,1272,1274,1275,1135,93
3,4,2764,2721,2679,2663,2655,2440,437
4,5,287,291,293,296,305,316,701

In [14]:
df_1876_2021['code_commune']

0        1
1        2
2        3
3        4
4        5
      ...
581    589
582    590
583    591
584    592
585    593
Name: code_commune, Length: 586, dtype: int64

#### df population 2022

In [15]:
file_path_2022 = r"C:\Users\gaeta\Documents\YNOV\master1\open_data\visualisation\population\demographie2022.xlsx"
df_2022 = pd.read_excel(file_path_2022, sheet_name='Communes', header=7)

df_2022 = df_2022[['Code commune', 'Population totale']]

df_2022 = df_2022.rename(columns={'Code commune': 'code_commune', 'Population totale':'population_2022'})

df_2022.dtypes

code_commune       int64
population_2022    int64
dtype: object

In [16]:
df_2022.head()

   code_commune  population_2022
0             1              125
1             2              247
2             3             1301
3             5              301
4             6              227

In [17]:
df_2022['code_commune']

0        1
1        2
2        3
3        5
4        6
      ...
581    585
582    586
583    587
584    588
585    589
Name: code_commune, Length: 586, dtype: int64

##### merge population 1876_2021 et population 2022 sur le code_commune

In [18]:
df_1876_2022 = pd.merge(df_2022, df_1876_2021, on='code_commune')

df_1876_2022.head()

,code_commune,population_2022,population_2021,population_2020,population_2019,population_2018,population_2017,population_2012,population_1921
0,1,125,119,120,122,121,118,114,285
1,2,247,239,242,241,243,245,243,610
2,3,1301,1280,1271,1272,1274,1275,1135,93
3,5,301,287,291,293,296,305,316,701
4,6,227,228,226,221,215,210,198,163

##### calcul des pourcentages d'evolutions

In [19]:
df_1876_2022['%_evolution_10ans_2012_2022'] = ((df_1876_2022['population_2022'] - df_1876_2022['population_2012']) / df_1876_2022['population_2012']) * 100
df_1876_2022['%_evolution_10ans_2012_2022'] = df_1876_2022['%_evolution_10ans_2012_2022'].astype('int64')
df_1876_2022['evolution_10ans_2012_2022'] = df_1876_2022['population_2022'] - df_1876_2022['population_2012']

df_1876_2022['%_evolution_100ans_1921_2021'] = ((df_1876_2022['population_2021'] - df_1876_2022['population_1921']) / df_1876_2022['population_1921']) * 100
df_1876_2022['%_evolution_100ans_1921_2021'] = df_1876_2022['%_evolution_100ans_1921_2021'].astype('int64')
df_1876_2022['evolution_100ans_1921_2021'] = df_1876_2022['population_2021'] - df_1876_2022['population_1921']

df_1876_2022.head()

,code_commune,population_2022,population_2021,population_2020,population_2019,population_2018,population_2017,population_2012,population_1921,%_evolution_10ans_2012_2022,evolution_10ans_2012_2022,%_evolution_100ans_1921_2021,evolution_100ans_1921_2021
0,1,125,119,120,122,121,118,114,285,9,11,-58,-166
1,2,247,239,242,241,243,245,243,610,1,4,-60,-371
2,3,1301,1280,1271,1272,1274,1275,1135,93,14,166,1276,1187
3,5,301,287,291,293,296,305,316,701,-4,-15,-59,-414
4,6,227,228,226,221,215,210,198,163,14,29,39,65

In [20]:
import os

output_path = r"C:\Users\gaeta\Documents\YNOV\master1\open_data\visualisation"
output_file = "df_ti_pe_1876_2022.csv"

df_1876_2022.to_csv(os.path.join(output_path, output_file), index=False)

##### merge du df de base avec les populations et pourcentage

In [21]:
df_preformatted = pd.merge(df_preformatted, df_1876_2022, on='code_commune')

df_preformatted.head()

,date_mutation,valeur_fonciere,code_voie,code_postal,code_commune,no_plan,nb_lot,surface_reel_bati,nb_piece_prin,surf_terrain,...,population_2020,population_2019,population_2018,population_2017,population_2012,population_1921,%_evolution_10ans_2012_2022,evolution_10ans_2012_2022,%_evolution_100ans_1921_2021,evolution_100ans_1921_2021
0,2023-11-29,553500,0811,31770,149,62,9,67,3,0,...,39866,39968,39097,38951,36699,1556,10,3830,2480,38603
1,2023-11-29,424000,0802,31770,149,32,7,63,3,0,...,39866,39968,39097,38951,36699,1556,10,3830,2480,38603
2,2023-11-17,1,B244,31770,149,111,0,0,0,604,...,39866,39968,39097,38951,36699,1556,10,3830,2480,38603
3,2023-11-29,825700,0712,31770,149,814,0,110,4,834,...,39866,39968,39097,38951,36699,1556,10,3830,2480,38603
4,2023-11-29,320800,0714,31770,149,812,0,101,5,241,...,39866,39968,39097,38951,36699,1556,10,3830,2480,38603

In [22]:
df_preformatted['date_mutation'] = pd.to_datetime(df_preformatted['date_mutation'])

# Trier le DataFrame par la colonne 'date_mutation'
df_preformatted = df_preformatted.sort_values(by='date_mutation')

In [25]:
import os

output_path = r"C:\Users\gaeta\Documents\YNOV\master1\open_data\visualisation"
output_file = "df_ti_pe_complet_ALL_DONE.csv"

df_preformatted.to_csv(os.path.join(output_path, output_file), index=False)