In [ ]:
#Programme à faire tourner 5 fois pour les 5 fichiers des 5 années

In [1]:
import pandas as pd
import os
input_path = r"C:\Users\gaeta\Documents\Ynov\open_data\challenge\1_df1_preparation_de_la_donnee\input\data_input_val_foncieres_2020"
input_file = "valeursfoncieres-2020.txt"
# df_val_fonc = pd.read_csv("valeursfoncieres-2023.txt", sep='|', dtype='unicode',index_col=None)
df_val_fonc = pd.read_csv(os.path.join(input_path, input_file), sep='|', dtype='unicode',index_col=None)
#df_val_fonc = pd.read_fwf("C:/Users/bruma/Downloads/valeursfoncieres-2023.txt", sep='|')
df_val_fonc.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1061
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,85
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1115
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1940
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1148

In [2]:
df_val_fonc.columns

Index(['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
       'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
       'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
       'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
       'Section', 'No plan', 'No Volume', '1er lot',
       'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
       '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
       'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
       'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
       'Nature culture speciale', 'Surface terrain'],
      dtype='object')

### On filtre les données de Haute-Garonne

In [3]:
df_code_postal = df_val_fonc
df_code_postal['Code departement'].unique()
#On vérifie que '31' ne possède pas de doublons du fait d'une erreure de frappe

array(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '13', '14', '15', '16', '17', '18', '19', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '2A', '2B', '30', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '69', '70', '71', '72', '73', '74', '76', '77', '78', '79', '80',
       '81', '82', '83', '84', '85', '86', '87', '88', '89', '90', '91',
       '92', '93', '94', '95', '971', '972', '973', '974', '75'],
      dtype=object)

In [4]:
df_code_postal = df_code_postal[df_code_postal['Code departement'] == '31']
df_val_fonc.head()

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,07/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1061
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,BT,NaN,85
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1115
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1940
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,02/01/2020,Vente,...,NaN,0,NaN,NaN,NaN,NaN,NaN,T,NaN,1148

### Filtrage selon la nature de mutation

In [5]:
df_vente = df_code_postal
df_vente['Nature mutation'].unique()

array(['Vente', "Vente en l'état futur d'achèvement",
       'Vente terrain à bâtir', 'Adjudication', 'Echange',
       'Expropriation'], dtype=object)

In [6]:
#On ne garde 
df_vente = df_vente[
    (df_code_postal['Nature mutation'] == "Vente") | (df_code_postal['Nature mutation'] == "Vente en l'état futur d'achèvement")]
df_vente.head(100)

,Identifiant de document,Reference document,1 Articles CGI,2 Articles CGI,3 Articles CGI,4 Articles CGI,5 Articles CGI,No disposition,Date mutation,Nature mutation,...,Surface Carrez du 5eme lot,Nombre de lots,Code type local,Type local,Identifiant local,Surface reelle bati,Nombre pieces principales,Nature culture,Nature culture speciale,Surface terrain
983014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,03/01/2020,Vente,...,NaN,1,3,Dépendance,NaN,0,0,NaN,NaN,NaN
983015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000002,06/01/2020,Vente,...,NaN,0,2,Appartement,NaN,285,5,S,NaN,447
983016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000002,06/01/2020,Vente,...,NaN,0,4,Local industriel. commercial ou assimilé,NaN,274,0,S,NaN,447
983017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,03/01/2020,Vente,...,NaN,2,2,Appartement,NaN,66,3,NaN,NaN,NaN
983018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,03/01/2020,Vente,...,NaN,1,3,Dépendance,NaN,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,13/01/2020,Vente en l'état futur d'achèvement,...,NaN,1,2,Appartement,NaN,41,2,NaN,NaN,NaN
983110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,13/01/2020,Vente,...,NaN,1,3,Dépendance,NaN,0,0,NaN,NaN,NaN
983111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,13/01/2020,Vente,...,NaN,1,2,Appartement,NaN,20,1,NaN,NaN,NaN
983112,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,14/01/2020,Vente en l'état futur d'achèvement,...,NaN,1,3,Dépendance,NaN,0,0,NaN,NaN,NaN
983113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,000001,14/01/2020,Vente en l'état futur d'achèvement,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### néttoyer les colonnes vides

In [7]:
df_vente = df_vente.drop(columns=['Identifiant de document', 'Reference document', '1 Articles CGI',
       '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI', 'B/T/Q','Identifiant local',
        'Prefixe de section', 'Section', '1er lot', '2eme lot','3eme lot','4eme lot','5eme lot','Nature culture',
        'Nature culture speciale', 'No disposition'])

# ['Identifiant de document', 'Reference document', '1 Articles CGI',
#        '2 Articles CGI', '3 Articles CGI', '4 Articles CGI', '5 Articles CGI',
#        'No disposition', 'Date mutation', 'Nature mutation', 'Valeur fonciere',
#        'No voie', 'B/T/Q', 'Type de voie', 'Code voie', 'Voie', 'Code postal',
#        'Commune', 'Code departement', 'Code commune', 'Prefixe de section',
#        'Section', 'No plan', 'No Volume', '1er lot',
#        'Surface Carrez du 1er lot', '2eme lot', 'Surface Carrez du 2eme lot',
#        '3eme lot', 'Surface Carrez du 3eme lot', '4eme lot',
#        'Surface Carrez du 4eme lot', '5eme lot', 'Surface Carrez du 5eme lot',
#        'Nombre de lots', 'Code type local', 'Type local', 'Identifiant local',
#        'Surface reelle bati', 'Nombre pieces principales', 'Nature culture',
#        'Nature culture speciale', 'Surface terrain']

#### additionner la surface loi carrez

In [8]:
# df_val_fonc_31_vente["total_surface_carrez"] = df_val_fonc_31_vente['Surface Carrez du 1er lot'] + df_val_fonc_31_vente['Surface Carrez du 2eme lot'] + df_val_fonc_31_vente['Surface Carrez du 3eme lot'] + df_val_fonc_31_vente['Surface Carrez du 4eme lot'] + df_val_fonc_31_vente['Surface Carrez du 5eme lot']
df_val_fonc_31_vente=df_vente
df_val_fonc_31_vente['Surface Carrez du 1er lot'] = df_val_fonc_31_vente['Surface Carrez du 1er lot'].str.replace(',', '.').astype('float64').fillna(0)
df_val_fonc_31_vente['Surface Carrez du 2eme lot'] = df_val_fonc_31_vente['Surface Carrez du 2eme lot'].str.replace(',', '.').astype('float64').fillna(0)
df_val_fonc_31_vente['Surface Carrez du 3eme lot'] = df_val_fonc_31_vente['Surface Carrez du 3eme lot'].str.replace(',', '.').astype('float64').fillna(0)
df_val_fonc_31_vente['Surface Carrez du 4eme lot'] = df_val_fonc_31_vente['Surface Carrez du 4eme lot'].str.replace(',', '.').astype('float64').fillna(0)
df_val_fonc_31_vente['Surface Carrez du 5eme lot'] = df_val_fonc_31_vente['Surface Carrez du 5eme lot'].str.replace(',', '.').astype('float64').fillna(0)
# df_val_fonc_31_vente.loc[:,"total_surface_carrez"] = df_val_fonc_31_vente.loc[:,'Surface Carrez du 1er lot'].str.replace(',', '.').astype('float64') + df_val_fonc_31_vente.loc[:,'Surface Carrez du 2eme lot'].str.replace(',', '.').astype('float64') + df_val_fonc_31_vente.loc[:,'Surface Carrez du 3eme lot'].str.replace(',', '.').astype('float64') + df_val_fonc_31_vente.loc[:,'Surface Carrez du 4eme lot'].str.replace(',', '.').astype('float64') + df_val_fonc_31_vente.loc[:,'Surface Carrez du 5eme lot'].str.replace(',', '.').astype('float64')

df_val_fonc_31_vente["total_surface_carrez"] = df_val_fonc_31_vente['Surface Carrez du 1er lot'] + df_val_fonc_31_vente['Surface Carrez du 2eme lot'] + df_val_fonc_31_vente['Surface Carrez du 3eme lot'] + df_val_fonc_31_vente['Surface Carrez du 4eme lot'] + df_val_fonc_31_vente['Surface Carrez du 5eme lot']
df_val_fonc_31_vente[[ 'Surface Carrez du 1er lot',
       'Surface Carrez du 2eme lot', 'Surface Carrez du 3eme lot',
       'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot',
       'Nombre de lots', 'Code type local', 'Surface reelle bati',
       'Nombre pieces principales', 'Surface terrain', 'total_surface_carrez']].dtypes

Surface Carrez du 1er lot     float64
Surface Carrez du 2eme lot    float64
Surface Carrez du 3eme lot    float64
Surface Carrez du 4eme lot    float64
Surface Carrez du 5eme lot    float64
Nombre de lots                 object
Code type local                object
Surface reelle bati            object
Nombre pieces principales      object
Surface terrain                object
total_surface_carrez          float64
dtype: object

In [9]:
df_val_fonc_31_vente=df_val_fonc_31_vente.drop(columns=['Surface Carrez du 1er lot', 'Surface Carrez du 2eme lot',
       'Surface Carrez du 3eme lot', 'Surface Carrez du 4eme lot', 'Surface Carrez du 5eme lot'])
df_val_fonc_31_vente.head()

,Date mutation,Nature mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,No plan,No Volume,Nombre de lots,Code type local,Type local,Surface reelle bati,Nombre pieces principales,Surface terrain,total_surface_carrez
983014,03/01/2020,Vente,"5000,00",9001,RES,A096,DU PARC DE RAMONVILLE,31520,RAMONVILLE ST AGNE,31,446,139,NaN,1,3,Dépendance,0,0,NaN,0.0
983015,06/01/2020,Vente,"350000,00",114,AV,2384,CRAMPEL,31400,TOULOUSE,31,555,304,NaN,0,2,Appartement,285,5,447,0.0
983016,06/01/2020,Vente,"350000,00",114,AV,2384,CRAMPEL,31400,TOULOUSE,31,555,304,NaN,0,4,Local industriel. commercial ou assimilé,274,0,447,0.0
983017,03/01/2020,Vente,"255000,00",118,AV,1584,CAMILLE PUJOL,31500,TOULOUSE,31,555,16,NaN,2,2,Appartement,66,3,NaN,0.0
983018,03/01/2020,Vente,"255000,00",118,AV,1584,CAMILLE PUJOL,31500,TOULOUSE,31,555,16,NaN,1,3,Dépendance,0,0,NaN,0.0

#### transformer en 0,1 les colonnes 'Nature mutation' et 'Type local'

In [10]:
df_val_fonc_31_vente = pd.get_dummies(df_val_fonc_31_vente, dtype=float, columns=['Nature mutation', 'Type local'])

In [11]:
df_val_fonc_31_vente.columns

Index(['Date mutation', 'Valeur fonciere', 'No voie', 'Type de voie',
       'Code voie', 'Voie', 'Code postal', 'Commune', 'Code departement',
       'Code commune', 'No plan', 'No Volume', 'Nombre de lots',
       'Code type local', 'Surface reelle bati', 'Nombre pieces principales',
       'Surface terrain', 'total_surface_carrez', 'Nature mutation_Vente',
       'Nature mutation_Vente en l'état futur d'achèvement',
       'Type local_Appartement', 'Type local_Dépendance',
       'Type local_Local industriel. commercial ou assimilé',
       'Type local_Maison'],
      dtype='object')

In [12]:
df_val_fonc_31_vente.head(20)

,Date mutation,Valeur fonciere,No voie,Type de voie,Code voie,Voie,Code postal,Commune,Code departement,Code commune,...,Surface reelle bati,Nombre pieces principales,Surface terrain,total_surface_carrez,Nature mutation_Vente,Nature mutation_Vente en l'état futur d'achèvement,Type local_Appartement,Type local_Dépendance,Type local_Local industriel. commercial ou assimilé,Type local_Maison
983014,03/01/2020,"5000,00",9001,RES,A096,DU PARC DE RAMONVILLE,31520,RAMONVILLE ST AGNE,31,446,...,0,0,NaN,0.00,1.0,0.0,0.0,1.0,0.0,0.0
983015,06/01/2020,"350000,00",114,AV,2384,CRAMPEL,31400,TOULOUSE,31,555,...,285,5,447,0.00,1.0,0.0,1.0,0.0,0.0,0.0
983016,06/01/2020,"350000,00",114,AV,2384,CRAMPEL,31400,TOULOUSE,31,555,...,274,0,447,0.00,1.0,0.0,0.0,0.0,1.0,0.0
983017,03/01/2020,"255000,00",118,AV,1584,CAMILLE PUJOL,31500,TOULOUSE,31,555,...,66,3,NaN,0.00,1.0,0.0,1.0,0.0,0.0,0.0
983018,03/01/2020,"255000,00",118,AV,1584,CAMILLE PUJOL,31500,TOULOUSE,31,555,...,0,0,NaN,0.00,1.0,0.0,0.0,1.0,0.0,0.0
983019,06/01/2020,"152000,00",1,IMP,1689,DE LA CARAVELLE,31500,TOULOUSE,31,555,...,62,3,NaN,62.41,1.0,0.0,1.0,0.0,0.0,0.0
983020,06/01/2020,"152000,00",1,IMP,1689,DE LA CARAVELLE,31500,TOULOUSE,31,555,...,0,0,NaN,0.00,1.0,0.0,0.0,1.0,0.0,0.0
983021,03/01/2020,"165400,00",14,BD,6016,MONPLAISIR,31400,TOULOUSE,31,555,...,49,3,NaN,47.14,1.0,0.0,1.0,0.0,0.0,0.0
983022,06/01/2020,"365000,00",180,AV,1772,DE CASTRES,31500,TOULOUSE,31,555,...,0,0,NaN,0.00,1.0,0.0,0.0,1.0,0.0,0.0
983023,06/01/2020,"365000,00",180,AV,1772,DE CASTRES,31500,TOULOUSE,31,555,...,0,0,NaN,0.00,1.0,0.0,0.0,1.0,0.0,0.0
983024,06/01/2020,"365000,00",180,AV,1772,DE CASTRES,31500,TOULOUSE,31,555,...,100,3,NaN,89.03,1.0,0.0,1.0,0.0,0.0,0.0
983025,06/01/2020,"344020,00",15,CHEM,0225,DU VIGNE,31140,PECHBONNIEU,31,410,...,125,5,656,0.00,1.0,0.0,0.0,0.0,0.0,1.0
983026,09/01/2020,"2000,00",9001,RES,A096,DU PARC DE RAMONVILLE,31520,RAMONVILLE ST AGNE,31,446,...,0,0,NaN,0.00,1.0,0.0,0.0,1.0,0.0,0.0
983027,06/01/2020,"317820,00",8,ALL,0643,DES RAMIERS,31520,RAMONVILLE ST AGNE,31,446,...,105,4,565,0.00,1.0,0.0,0.0,0.0,0.0,1.0
983028,03/01/2020,"218500,00",4,RUE,8917,VIRGINIA WOOLF,31200,TOULOUSE,31,555,...,0,0,NaN,0.00,0.0,1.0,0.0,1.0,0.0,0.0
983029,03/01/2020,"218500,00",4,RUE,8917,VIRGINIA WOOLF,31200,TOULOUSE,31,555,...,0,0,NaN,0.00,0.0,1.0,0.0,1.0,0.0,0.0
983030,03/01/2020,"218500,00",4,RUE,8917,VIRGINIA WOOLF,31200,TOULOUSE,31,555,...,64,3,NaN,0.00,0.0,1.0,1.0,0.0,0.0,0.0
983031,06/01/2020,"537000,00",114,AV,2384,CRAMPEL,31400,TOULOUSE,31,555,...,0,0,22,0.00,1.0,0.0,0.0,1.0,0.0,0.0
983032,06/01/2020,"537000,00",114,AV,2384,CRAMPEL,31400,TOULOUSE,31,555,...,NaN,NaN,1962,0.00,1.0,0.0,0.0,0.0,0.0,0.0
983033,09/01/2020,"83980,00",53,RTE,7448,DE REVEL,31400,TOULOUSE,31,555,...,19,1,NaN,18.38,1.0,0.0,1.0,0.0,0.0,0.0

In [13]:
# df_val_fonc_31_vente['Valeur fonciere'] = df_val_fonc_31_vente['Valeur fonciere'].str.replace(',', '.')
# df_val_fonc_31_vente['Valeur fonciere'] = df_val_fonc_31_vente['Valeur fonciere'].astype(float)
# df_val_fonc_31_vente['Valeur fonciere'] = df_val_fonc_31_vente['Valeur fonciere'].astype('int64')
# df_val_fonc_31_vente['Valeur fonciere'] = df_val_fonc_31_vente['Valeur fonciere'].fillna(0)

# df_val_fonc_31_vente['Valeur fonciere'] = df_val_fonc_31_vente['Valeur fonciere'].str.replace(',', '.').astype('int').fillna(0)
df_val_fonc_31_vente['Valeur fonciere'] = df_val_fonc_31_vente['Valeur fonciere'].str.replace(',', '.').astype('float').fillna(0).astype('int')
# df_val_fonc_31_vente.head(20)
print(df_val_fonc_31_vente)

        Date mutation  Valeur fonciere No voie Type de voie Code voie  \
983014     03/01/2020             5000    9001          RES      A096
983015     06/01/2020           350000     114           AV      2384
983016     06/01/2020           350000     114           AV      2384
983017     03/01/2020           255000     118           AV      1584
983018     03/01/2020           255000     118           AV      1584
...               ...              ...     ...          ...       ...
1061773    04/02/2020           100000     NaN          NaN      B026
1061774    04/02/2020           100000     NaN          NaN      B026
1061775    04/02/2020           100000     NaN          NaN      B026
1061776    04/02/2020           100000     NaN          NaN      B026
1061777    04/02/2020           100000     NaN          NaN      B050

                          Voie Code postal              Commune  \
983014   DU PARC DE RAMONVILLE       31520   RAMONVILLE ST AGNE
983015                 CRAMPEL       31400             TOULOUSE
983016                 CRAMPEL       31400             TOULOUSE
983017           CAMILLE PUJOL       31500             TOULOUSE
983018           CAMILLE PUJOL       31500             TOULOUSE
...                        ...         ...                  ...
1061773                 MAILLO       31110  CAZEAUX-DE-LARBOUST
1061774                 MAILLO       31110  CAZEAUX-DE-LARBOUST
1061775                 MAILLO       31110  CAZEAUX-DE-LARBOUST
1061776                 MAILLO       31110  CAZEAUX-DE-LARBOUST
1061777             LE VILLAGE       31110  CAZEAUX-DE-LARBOUST

        Code departement Code commune  ... Surface reelle bati  \
983014                31          446  ...                   0
983015                31          555  ...                 285
983016                31          555  ...                 274
983017                31          555  ...                  66
983018                31          555  ...                   0
...                  ...          ...  ...                 ...
1061773               31          133  ...                 NaN
1061774               31          133  ...                 NaN
1061775               31          133  ...                 NaN
1061776               31          133  ...                 NaN
1061777               31          133  ...                 NaN

        Nombre pieces principales Surface terrain total_surface_carrez  \
983014                          0             NaN                  0.0
983015                          5             447                  0.0
983016                          0             447                  0.0
983017                          3             NaN                  0.0
983018                          0             NaN                  0.0
...                           ...             ...                  ...
1061773                       NaN             260                  0.0
1061774                       NaN            1020                  0.0
1061775                       NaN             380                  0.0
1061776                       NaN            3535                  0.0
1061777                       NaN             180                  0.0

        Nature mutation_Vente  \
983014                    1.0
983015                    1.0
983016                    1.0
983017                    1.0
983018                    1.0
...                       ...
1061773                   1.0
1061774                   1.0
1061775                   1.0
1061776                   1.0
1061777                   1.0

        Nature mutation_Vente en l'état futur d'achèvement  \
983014                                                 0.0
983015                                                 0.0
983016                                                 0.0
983017                                                 0.0
983018                                                 0.0
...                                                    ...
1061773                                                0.0
1061774                                                0.0
1061775                                                0.0
1061776                                                0.0
1061777                                                0.0

        Type local_Appartement  Type local_Dépendance  \
983014                     0.0                    1.0
983015                     1.0                    0.0
983016                     0.0                    0.0
983017                     1.0                    0.0
983018                     0.0                    1.0
...                        ...                    ...
1061773                    0.0                    0.0
1061774                    0.0                    0.0
1061775                    0.0                    0.0
1061776                    0.0                    0.0
1061777                    0.0                    0.0

         Type local_Local industriel. commercial ou assimilé  \
983014                                                 0.0
983015                                                 0.0
983016                                                 1.0
983017                                                 0.0
983018                                                 0.0
...                                                    ...
1061773                                                0.0
1061774                                                0.0
1061775                                                0.0
1061776                                                0.0
1061777                                                0.0

         Type local_Maison
983014                 0.0
983015                 0.0
983016                 0.0
983017                 0.0
983018                 0.0
...                    ...
1061773                0.0
1061774                0.0
1061775                0.0
1061776                0.0
1061777                0.0

[77997 rows x 24 columns]

In [14]:
df_group = df_val_fonc_31_vente

import os

output_path = r"C:\Users\gaeta\Documents\Ynov\open_data\challenge\1_df1_preparation_de_la_donnee\outpout\data_output_val_foncieres_2020"
output_file = "df_1_2020_prepa2.csv"

# chemin_result = r'C:\Users\gaeta\Documents\Ynov\open_data\challenge\result'
df_val_fonc_31_vente.to_csv(os.path.join(output_path, output_file), index=False)